.modal-delete-buttons {
  margin: auto;
  width: 80%;
  height: 50px;
}

#delete.modal-delete-buttons {
  color: white;
  background-color: #ff5a5f;
  box-shadow: 2px 2px 1px black;
  font-weight: 500;
  font-size: 13pt;
}
#keep.modal-delete-buttons {
  color: white;
  font-weight: 500;
  font-size: 13pt;
  background-color: rgb(77, 75, 75);
  box-shadow: 2px 2px 1px black;
}

#delete-modal-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
  margin-top: 2em;
}

#confirm-delete-text {
  text-align: center;
}
