* {
  margin: auto;
}

.spots-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 3em;
  width: 1000px;
  margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, 240px); */
  /* width: 1024px; */
  margin: auto;
  /* margin-left: 1em; */
  justify-content: flex-start;
  row-gap: 2em;
  column-gap: 1em;
  width: fit-content;
}

.tile {
  width: 225px;
  /* border: 2pt solid gray; */
  border-radius: 10px;
  cursor: pointer;
  font-weight: 100;
  font-size: smaller;
  margin: 0;
  /* flex: 1; */
}
#manage-tile {
  margin: 0;
}

.tile img {
  width: 225px;
  height: auto;
  border-radius: 10px;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
}
.tile-content {
  display: flex;
  flex-direction: column;
}

.tile-content-info {
  text-align: left;
  margin: 0;
  width: max-content;
}
.location {
  font-weight: 500;
}
.tile-content-review {
  text-align: right;
  margin: 0;
  padding-right: 0.5em;
  position: relative;
  bottom: 2.4em;
}

#manage-delete-spot {
  list-style-type: none;
}
#manage-delete-spot,
#manage-update-spot {
  margin: 0;
  width: 40%;
  height: 20px;
  background-color: rgb(77, 75, 75);
  color: white;
  font-weight: 600;
  box-shadow: 2px 2px 1px black;
}
#manage-create-new-spot-button {
  width: 250px;
  height: 40px;
  box-shadow: 2px 2px 1px black;
  color: white;
  font-weight: 600;
  background-color: #ff5a5f;
}

#manage-buttons-container {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  /* margin-top: 0.3em; */
}

#manage-header {
  margin-bottom: 2em;
  margin-left: 2em;
}
#manage-header h2 {
  margin: 0;
  margin-bottom: 1em;
}
