#form-container {
  margin: 0 15em;
}
#form-container h2 {
  margin: 0;
  margin-bottom: 1em;
}

#form-container form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
#form-container form input {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
.form-error {
  margin: 0;
  /* margin-right: 10em; */
  color: red;
  font-size: smaller;
}
.form-error.bottom {
  text-align: left;
  width: 100%;
}
#form-container label .form-error {
  margin-left: 1em;
}
#form-container label {
  display: inline-block;
}

#form-container textarea {
  width: 100%;
  height: 125px;
}

#form-container button {
  background-color: #ff5a5f;
  color: white;
  font-weight: 500;
  width: 25%;
  height: 25px;
}
