#details-container {
  max-width: 1000px;
}
.images {
  display: grid;
  grid-template-areas:
    "preview preview 1 2"
    "preview preview 3 4";
  row-gap: 0;
  /* grid-template-columns: 50% 1fr 1fr; */
  padding: 0 0.5em;
  /* margin: 0 3em 0 1em; */
  /* width: 98%; */
}

.images div img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
#preview {
  grid-area: preview;
}
#info {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* text-align: left; */
  /* align-items: flex-end; */
  width: 100%;
  margin: 0;
}
#info h3,
#info p {
  margin: 0;
  margin-left: 16px;
  padding: 1em 0 1em 0;
}
h2,
h2 + span {
  margin-left: 16px;
}

.reserve-button {
  border: 1pt solid black;
  border-radius: 10px;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
#reserve-price {
  font-size: 13pt;
  margin-right: 2em;
}
.reserve-button span {
  font-size: 9pt;
}
.reserve-button button {
  width: 90%;
  height: 30px;
  margin: 1em auto;
  color: white;
  font-weight: 500;
  background-color: #ff5a5f;
}
#info-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1pt solid gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.hidden {
  display: none;
}
#review-summary {
  display: flex;
  margin: 0;
  margin-left: 16px;
  flex-direction: column;
  /* width: 50%; */
}
#review-summary span {
  margin: 0;
  font-size: larger;
}
#review-summary button {
  margin: 1.5em 0;
  width: fit-content;
}

.reviews-container {
  margin-left: 16px;
}

.review-post {
  margin: 2em 0;
}

.review-timestamp {
  color: gray;
}
#review-delete-button {
  list-style-type: none;
  color: white;
  margin-top: 1em;
  background-color: rgb(77, 75, 75);
}

#post-review-button {
  list-style-type: none;
}

#span-review-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1.5em;
}
#span-review-summary span {
  margin: 0;
}
