.profile-dropdown {
  background-color: aliceblue;
  width: max-content;
  padding: 0;
  position: absolute;
  top: 2em;
  z-index: 1;
  /* left: 1.8em; */
  border: 1pt solid gray;
  box-shadow: 2px 2px 1px gray;
}

#profileButton {
  width: 50px;
  height: 30px;
  margin-bottom: 0.5em;
  display: flex;
}

#profile-menu {
  display: flex;
  column-gap: 2em;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  align-content: center;
  margin: 0;
  margin-right: 5em;
  height: 30px;
  width: fit-content;
}
#profile-menu a {
  margin: 0;
  font-weight: 500;
  font-size: smaller;
  text-decoration: none;
  height: fit-content;
  color: rgb(36, 84, 144);
}
.profile-dropdown li {
  text-align: center;
  padding: 1em;
}
#li-username {
  padding-bottom: 0;
}
#li-email {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1pt solid gray;
}
#li-manage-spots,
#li-view-bookings {
  border-bottom: 1pt solid gray;
  width: 100%;
  padding: 1em 0;
  display: inline-block;
  text-align: center;
}
#li-manage-spots a {
  color: black;
  font-weight: normal;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 1em 0;
  /* padding-bottom: 2em; */
  margin-bottom: 2em;
  border-bottom: 1pt solid gray;
}
.navBar li {
  list-style-type: none;
}

.hidden {
  display: none;
}
#logo {
  width: 40px;
  height: auto;
  background-color: white;
  display: inline-block;
}
#logo-text {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 5em;
  column-gap: 0.25em;
  cursor: pointer;
  font-weight: 800;
  color: #ff5a5f;
}

#profile-logout {
  border-radius: 25px;
  padding: 0.5em 1em;
  color: white;
  background-color: rgb(77, 75, 75);
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}
