/* #container {
  border: 2pt solid gray;
  border-radius: 10%;
  width: 500px;
  box-shadow: 5px 5px 5px gray;
} */

#modal-content {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
}
input {
  /* margin-left: 4em; */
  align-self: flex-end;
  width: 200px;
  margin: 0;
  height: 20px;
  background-color: aliceblue;
}

label {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* margin-left: 7em; */
}

#container .submit {
  margin: 2em 0em;
  height: 50px;
  width: 75%;
  background-color: white;
  font-weight: 500;
  font-size: larger;
  color: gray;
  box-shadow: 2px 2px 1px gray;
}

#container .submit.styled {
  color: white;
  background-color: #ff5a5f;
  box-shadow: 2px 2px 1px black;
}

#demo {
  cursor: pointer;
  text-decoration: underline;
  margin: auto;
}

#errors-message {
  text-align: center;
  color: red;
}
